.list {
  padding: 0 14px;
  background-color:#FFFFFF;
}

.row {
  display: flex;
  gap: 12px;
  padding: 14px 0;
  border-bottom: 2px solid #eee;
}

/* LEFT */
.info {
  flex: 1;
}

.name {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 4px;
}

.rating {
  font-size: 13px;
  color: #111;
  margin-bottom: 2px;
}

.review {
  color: #777;
}

.desc {
  font-size: 12px;
  color: #777;
  margin-bottom: 6px;
}

.price {
  font-size: 15px;
  font-weight: 800;
  color: #111;
}

/* RIGHT */
.right {
  position: relative;
  width: 120px;
  flex-shrink: 0;
}

.right img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

/* ADD BUTTON */
.addBtn {
  position: absolute;
  bottom: -10px;
  right: 18px;
  background: #fff;
  color: #2f8f4a;
  border: 2px solid #2f8f4a;
  border-radius: 999px;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.addBtn:hover {
  background: #eaf7eb;
} 
